extends canvas-layout

block content

  ul.nav.nav-tabs.canvas-switcher
    li.active
      a#editableCanvasBtn(href='#')="Editable"
    li
      a#staticCanvasBtn(href='#')="Static"

  #topToolbarMenu
    .btn-toolbar
      .btn-group
        button#rect(type='button', class='btn btn-default')="Rect"
        button#circle(type='button', class='btn btn-default')="Circle"
        button#triangle(type='button', class='btn btn-default')="Triangle"
        button#image(type='button', class='btn btn-default')="Image"
      .btn-group
        button#red(type='button', class='btn btn-default')="Red"
        button#green(type='button', class='btn btn-default')="Green"
        button#blue(type='button', class='btn btn-default')="Blue"
        button#black(type='button', class='btn btn-default')="Black"
      .btn-group
        button#json(type='button', class='btn btn-default')="Json"
      .btn-group
        button#clear(type='button', class='btn btn-default')="Clear"
  .canvasContainer#editableCanvasContainer
    canvas#canvas
  .canvasContainer#staticCanvasContainer
    canvas#static-canvas
  textarea#output

block canvas-scripts
  script(src='/js/canvas.js')